@media (max-width: 1024px) {
    #map {
        height: 89%;
    }
    .toolbarCalendar {
        left: 2vh;
    }
    .infoRad {
        height: calc(80vh - calc(5vh + 18px));
    }
    .infoFoto {
        height: calc(80vh - calc(5vh + 18px));
    }
    .inputMes input {
        width: 36px;
    }
    .imgScala {
        width: 180px;
        height: 60px;
    }
}
@media (min-width: 900px) {}
@media (min-width: 600px) {}
@media (width: 400px) {
    .toolbarForms {
        display: none;
    }
    #logoSisol {
        float: left;
        height: 25px;
    }
    #logoSecre {
        float: right;
        height: 25px;
    }
    .logo {
        width: 130px;
    }
    #header {
        height: 30px;
    }
    .toolbarPointer {
     display:none;
    }
}