@media (min-width: 130360px) and (max-width: 2000px) {
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 1.5vh;
    color: #000;
}

    
}

@media (max-width: 1024px) {
    #map {
        height: 89%;
    }
    .toolbarCalendar {
        left: 2vh;
    }
    .infoRad {
        height: calc(80vh - calc(5vh + 18px));
    }
    .infoFoto {
        height: calc(80vh - calc(5vh + 18px));
    }
    .inputMes input {
        width: 36px;
    }
    .imgScala {
        width: 180px;
        height: 60px;
    }
}
@media (min-width: 900px) {}
@media (min-width: 600px) {}


 

@media (min-width: 320px) and (max-width: 480px) {
  
 
	  .toolbarForms {
        display: none;
    }
    #logoSisol {
        float: left;
        height: 25px;
    }
    #logoSecre {
        float: right;
        height: 25px;
    }
    .logo {
        width: 130px;
    }
    #header {
        height: 30px;
    }
    .toolbarPointer {
     display:none;
    }
  
}