#map {
  height: 91%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 2vh;
}

#lineHeader{
  height: 5px;
  background-color:#9F1522;
  width:100%;
}
#header{
  height: 100px;

}


#logoSisol{
  float:left;
  height: 95px;
 
}
#logoSecre{
  float:right;
  height:95px;
 
}
.logo{
  height: 100%;

}
.mainToolbar {
  display:inline-block;
  position:fixed;
  right:0px;
  top:calc(6vh + 85px);
  padding:0px;
  margin:0px;
  z-index: 9;
  height: 70px;
  background-color:#9F1522;/* #791522;*/

}
.infoRad
{
  display:inline-block;
  top:calc(5vh + 166px);
  position:fixed;
  width:calc(20vw + 150px); 
  height: calc(80vh - calc(5vh + 166px));
  z-index: 9;
  right:2px;
  background-color:#fff;
  -webkit-border-radius: 0 4px 4px 0/0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0/0 4px 4px 0;
  border-radius: 0 4px 4px 0/0 4px 4px 0;
  border: 0px solid yellow;

}

div#imgRad {
  width: 70px;
  height: 70px;
  background-size: cover;/*sólo para ejemplo*/
  background-image: url("http://localhost/sisol/css/images/toolbarsol.svg");

  display:inline-block;
  position:relative;
  padding:0px;

}
div#imgSolar{
  width: 70px;
  height: 70px;
  background-size: cover;/*sólo para ejemplo*/
  background-image: url("http://localhost/sisol/css/images/toolbarpantalla.svg");
  display:inline-block;
  position:relative;
  padding:0px;
}
div#imgTerm{
  width: 70px;
  height: 70px;
  background-size: cover;/*sólo para ejemplo*/
  background-image: url("http://localhost/sisol/css/images/toolbarcalefon.svg");
  display:inline-block;
  position:relative;
  padding:0px;
}
div#imgRad:hover,  div#imgElect:hover , div#imgTerm:hover, div#imgSolar:hover{
  opacity:1;
  background-color: #791522;
}

.divTitle{

  background-color: #791522;
  font-weight: bold;
  font-size: 2vh; /*14pt*/
  width:calc(20vw + 150px);;
  height: 50px;
  position: relative;

}
.title{
 position: absolute;
 text-align: center;
 vertical-align: middle;
 top: 30%;
left: 5%;
 /*margin: -10px 0 0 -170px;*/
 color:#fff;
}
.title_red{
 font-size: calc(1vh + 4px); /*13px*/
 font-weight: bold;
 padding-left:10px;
 color:#791522;
}
.table-resumen{
  table-layout: fixed;
  margin: 1rem;
  width: 95%;
  border-collapse: collapse;
}
.table-resumen > thead {

}
.table-resumen > thead > tr > th {
  color: #000;
  padding: .7rem 0;
  font-size: calc(1vh + 5px);/*14px;*/
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #791522;
}

.table-resumen >  tbody > tr > td {
  padding: .5rem 1rem;
  text-align: center;
  color:#791522;
  font-size:   calc(1vh + 6px) ;/*16px;*/
  font-weight: bold;

}
.table-resumen > tbody > tr > td > label {

  text-align: center;
  color:#791522;
  font-size:  calc(1vh + 6px)/*16px;*/
  font-weight: bold;

}
.table-resumen > thead > tr > th > span {
  color: #666666;
  font-size: 1vh ; /*11px;*/
}
.table-resumen > thead > tr > th > p {
  color: #666666;
  font-size: calc(1vh - 5px); /*11px;*/
}
#resumen {
  overflow-y: scroll;
  /*height:600px;*/
  height: calc(80vh - calc(5vh + 166px) - 110px);
  border: 0px solid red;
}
/*********** Toolbar Calenario ****************************/

div#imgAnual {
  width:55px;
  height: 55px;  
  background-image: url("http://localhost/sisol/css/images/toolbaranual.svg");
  float:left;
  padding:0px;
  margin:0px;
  /* position:relative;*/
}

div#imgDiario {
  width:55px;
  height: 55px;
  float:left;
  background-image: url("http://localhost/sisol/css/images/toolbardiario.svg");
  padding:0px;
  margin:0px;
  /* position:relative;*/
}

div#imgMensual {
  width:55px;
  height: 55px;
  float:left;
  background-image: url("http://localhost/sisol/css/images/toolbarmensual.svg");
  /*background-color:#9F1522;*/
  padding:0px;
  margin:0px;
  /* position:relative;*/
}

.toolbarleft {
  display: inline-block;
  position: fixed;
  background-color: #9F1522;
  margin: 0px;
  padding: 0px;
  width: 165px;
  /*height:165px;*/
  top: calc(6vh + 85px);
  left: 1vh;
  z-index: 0;
  text-align: center;
  border: 0px solid blue;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  
}
.toolbarleft_title{
  font-weight: bold;
}
#title_calendar{
  padding-top: 5px;
  line-height: 17px;
  text-align: center;
}
div.toolbarleft1  .meses{
    width: 100%;  
    background-color: #9F1522;
    border: 1px solid #9F1522;    
}
div.toolbarleft1 .meses tr, .meses td{
    padding: 4px;
    border: 1px solid #9F1522;
    cursor:pointer;
    background-color: #9F1522;
}
  .meses td:hover{
   background-color: #791522;

 }
 .isActive{
  background-color: #791522;    
}
.is-blue{
  background-color: blue;
}

.is-red{
  background-color: red;
}
.toolbarleft1 > table > tr
{
  border: 1px solid #9F1522;


}
.toolbarleft1 > table > tr > td {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #9F1522;   
  padding: .7rem 0;
  text-align: center;
  width: 34px;

}
.classOff{
 background-color:#3A3A3C;
}
.classOn{
 background-color:#791522;
}


/******** TABS*********/
#tabs{
  clear:both;
  position: absolute;
  height:130px;
  width: : 100px;


}
.nav-tabs>li {
  width: 33%;
  text-align: center;
}
.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #791522;
  font-size: calc(1vh + 4px);;
  font-weight: bold;

}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #791522;
  border: 1px solid #791522;
  border-bottom-color: transparent;
  font-weight: bold;
  font-size: calc(1vh + 4px);;
}
.nav {
  width: 100%;

}


/************** GRAF *****************************************/
.graf{

  width: calc(12vw + 200px);
  height: calc(12vw + 200px);;
}
/**********************/
#divEscala{
  width: 100%;
  top: calc(65vh + 200px);
  /*left: calc(30vh + 300px);*/
  
  position: fixed;
}
.imgScala{
  width : 200px;
  height: 80px;
}