
<div id="map" >

</div>
<div id="divEscala"></div>
<div class="toolbarForms">
  <div id="imgRad"> 
  </div>
  <transition name="slide-fade">

    
    <div  class="infoRad" >
     <div class="divTitle">
      <div class="title">RECURSO SOLAR </div>
    </div>
    <div>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#resumen">DATOS</a></li>
        <li><a href="#grafico">GR&Aacute;FICOS</a></li>
        <li><a href="#descargas">DESCARGAS</a></li>

      </ul>
    </div>
    <div class="tab-content" >
      <div id="resumen" class="tab-pane fade in active">
        <div id="solarInfo">
          <br/>
          <table class='table-resumen'>
           <thead>
            <tr>
              <th>LATITUD</th>                <th>LONGITUD</th>              <th>ALTURA</th>
            </tr>
          </thead>
          <tbody>
            <tr>
             <td ><label id="varlat"/>7</td> 
             <td ><label id="varlong"/>7</td>
             <td ><label id="varalt"/>7</td>
           </tr>
         </tbody>
       </table>
       <div class="title_red"><label id="titleInfoRad">RADIACIÓN ANUAL</label></div>
       <table class="table-resumen">
         <thead>
          <tr>
            <th>Global Horizontal<span> (kWh/m<sup>2</sup>) </span></th>                
            <th>Global Inclinado 30º<span> (kWh/m<sup>2</sup>) </span></th>
            <th>Directa Normal<span> (kWh/m<sup>2</sup>) </span></th>
            <th>Difusa Horizontal<span> (kWh/m<sup>2</sup>) </span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td ><label id="vargbl"/></td> 
           <td ><label id="vargblin"/></td>
           <td ><label id="vardiNo"/></td>
           <td ><label id="vardiHo"/></td>
         </tr>

       </tbody>
     </table>

   </div>

 </div>
 <div id="grafico" class="tab-pane fade">
  <br/>
  <div class="title_red"><label id="titGraf"/></div>

  <div id="graf">
    <chartjs-bar :datalabel="mylabel" :labels="mylabels" :data="mydata" :bind="true" class="bar"   :backgroundcolor="['rgba(249,180,8,0.2)','rgba(249,180,8,0.2)','rgba(249,180,8,0.2)','rgba(249,180,8,0.2)','rgba(249,180,8,0.2)','rgba(249,180,8,0.2)','rgba(249,180,8,0.2)','rgba(249,180,8,0.2)','rgba(249,180,8,0.2)','rgba(249,180,8,0.2)','rgba(249,180,8,0.2)','rgba(249,180,8,0.2)']"  :bordercolor="['rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)','rgba(249,180,8,1)']"></chartjs-bar>
  </div>

</div>
<div id="descargas" class="tab-pane fade">
  <br/>
  <div class="title_red"><label id="titDesc1"/></div>
  <table class="table-resumen">
   <thead>
    <tr>
      <th>Formato</th>
      <th>Descarga</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td >pdf</td>
     <td ><div id="link1"></div></td>
   </tr>
   <tr>
     <td >png</td>
     <td ><div id="link2"></div></td>
   </tr>
   <tr>
    <td >tif</td>
    <td ><div id="link3"></div></td>
  </tr>
</tbody>
</table>
</div>

</div>
</div>

</transition>

<div id="imgSolar"> 
  </div>
  <transition name="slide-fade">

    
    <div  class="infoFoto" >
     <div class="divTitle">
      <div class="title">GENERACIÓN ELÉCTRICA FOTOVOLTAICA </div>
    </div>
    <div>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#form">FORMULARIO</a></li>
        <li><a href="#resultado">RESULTADOS</a></li>
        <li><a href="#desfoto">DESCARGAS</a></li>

      </ul>
    </div>
    <div class="tab-content" >
      <div id="form" class="tab-pane fade in active">
          <div  class="title_red space">CONSUMO MENSUAL ELÉCTRICO</div>
          <div class="labelMes">ENE</div>
          <div class="inputMes"><input type="number" name="txtENE"></div>
          
          <div class="labelMes">FEB</div>
          <div class="inputMes"><input type="number" name="txtFEB"></div>

          <div class="labelMes">MAR</div>
          <div class="inputMes"><input type="number" name="txtMAR"></div>
           <div class="labelMes">ABR</div>
          <div class="inputMes"><input type="number" name="txtABR"></div>
          <div style="clear:both;padding:5px;"></div>
          <div class="labelMes">MAY</div>
          <div class="inputMes"><input type="number" name="txtMAY"></div>
          
          <div class="labelMes">JUN</div>
          <div class="inputMes"><input type="number" name="txtJUN"></div>

          <div class="labelMes">JUL</div>
          <div class="inputMes"><input type="number" name="txtJUL"></div>
           <div class="labelMes">AGO</div>
          <div class="inputMes"><input type="number" name="txtAGO"></div>

          <div style="clear:both;padding:5px;"></div>
          <div class="labelMes">SEP</div>
          <div class="inputMes"><input type="number" name="txtSEP"></div>
          
          <div class="labelMes">OCT</div>
          <div class="inputMes"><input type="number" name="txtOCT"></div>

          <div class="labelMes">NOV</div>
          <div class="inputMes"><input type="number" name="txtNOV"></div>
           <div class="labelMes">DIC</div>
          <div class="inputMes"><input type="number" name="txtDIC"></div>
          <div style="clear:both;"></div>
          <div class="title_red space">CARACTERÍSTICAS DEL ARREGLO FOTOVOLTAICO</div>
          <div class="labelData">Capacidad a instalar</div>
          <div class="inputMes"><input type="number" id="txtCap"></div>
          <div style="float:left;width: 20px;">kW</div>
          <div style="clear:both;"></div>
          <div  class="title_red space">CARACTERÍSTICAS DE LA INSTALACIÓN</div>
          <div class="labelData">Tipo de Montaje</div>
          <div class="inputradio"><input type="radio" id="txtMont1"></div>
          <div class="imageForm"><img src="images/"></div>
          <div class="inputradio"><input type="radio" id="txtMont2"></div>
          <div class="imageForm"><img src="images/"></div>
          <div style="clear:both;"></div>
          <div class="labelData">Inclinación(*)</div>
          <div class="inputMes"><input type="number" id="txtInclinacion"></div>
          <div style="float:left;width: 20px;">kW</div>
          <div style="clear:both;"></div>
          <div  class="title_red space">PÈRDIDAS</div>
          <div class="labelData labelData2">Eficiencia del Inversor (kW)</div>
          <div class="inputMes"><input type="number" id="txtInv"></div>
          <div style="float:left;width: 20px;">kW</div>
          <div style="clear:both;padding:2px"></div>
          <div class="labelData labelData2">Factor de pérdidas (%)</div>
          <div class="inputMes"><input type="number" id="txtFactor"></div>
          <div style="float:left;width: 20px;">kW</div>
          <div style="clear:both;"></div>
          <div class="divButton"><input type="button" id="btnCalcular" class="button" value="CALCULAR" ></div>
       </div>
     <div id="resultado" class="tab-pane fade">sds
       </div>
     <div id="desfoto" class="tab-pane fade">sdddddd</div>

    </div>
   </div>

</transition>
<div id="imgTerm"> </div>
 <transition name="slide-fade">
 <div class="infoTerm">
     <div class="divTitle">
      <div class="title">GENERACIÓN TERMICA </div>
    </div>
    <div>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#formTerm">FORMULARIO</a></li>
        <li><a href="#resultTerm">RESULTADOS</a></li>
        <li><a href="#desTern">DESCARGAS</a></li>

      </ul>
    </div>
    <div class="tab-content" >
    <div id="formTerm"  class="tab-pane fade in active"><p style="margin:20px; font-weight: bold;"> EN CONSTRUCCION, DISCULPE LAS MOLESTIAS</p></div>
    <div id="resultTerm"></div>
    <div id="resultTerm"></div>

    </div>
</div>
 </transition>
</div>


<div class="toolbarCalendar">
  <div id="imgDiario"></div> <div id="imgMensual"></div> <div id="imgAnual">   </div>
  <div style="clear: both;"><label id="title_calendar">RADIACION ANUAL</label></div>
  <div class="meses">
  <div id="enero" onclick="changeMap(this)" class="dMes"> ENE</div>
  <div id="febrero" onclick="changeMap(this)" class="dMes"> FEB</div>
  <div id="marzo" onclick="changeMap(this)" class="dMes"> MAR</div>
  <div id="abril" onclick="changeMap(this)" class="dMes"> ABR</div>
  <div style="clear:both;"></div>
  <div id="mayo" onclick="changeMap(this)" class="dMes"> MAY</div>
  <div id="junio" onclick="changeMap(this)" class="dMes"> JUN</div>
  <div id="julio" onclick="changeMap(this)" class="dMes"> JUL</div>
  <div id="agosto" onclick="changeMap(this)" class="dMes"> AGO</div>
  <div style="clear:both;"></div>
  <div id="septiembre" onclick="changeMap(this)" class="dMes"> SEP</div>
  <div id="octubre" onclick="changeMap(this)" class="dMes"> OCT</div>
  <div id="noviembre" onclick="changeMap(this)" class="dMes"> NOV</div>
  <div id="diciembre" onclick="changeMap(this)" class="dMes"> DIC</div>
  <div style="clear:both;"></div>
</div>
</div>

</div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIprC_h1aW9PQVMhD1LJxQqaPSH2zvw8Q&callback=LoadMap">
</script>

<script src="js/index.js?v1.7"></script> 
<script src="js/data.js?v1.9"></script>  

</body>
</html>


