
<div id="map" >

</div>

<div class="mainToolbar">
  <div id="imgRad"> 
  </div>
  <transition name="slide-fade">
    <div  class="infoRad" >
     <div class="divTitle">
      <div class="title">RECURSO SOLAR Y DATOS METEORLOGICOS</div>
    </div>
    <div>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#resumen">DATOS</a></li>
        <li><a href="#grafico">GRAFICOS</a></li>
        <li><a href="#descargas">DESCARGAS</a></li>

      </ul>
    </div>
    <div class="tab-content" >
      <div id="resumen" class="tab-pane fade in active">
              <div id="solarInfo">
          <br/>
          <table class='table-resumen'>
           <thead>
            <tr>
              <th>LATITUD</th>                <th>LONGITUD</th>              <th>ALTURA</th>
            </tr>
          </thead>
          <tbody>
            <tr>
             <td ><label id="varlat"/>7</td> 
             <td ><label id="varlong"/>7</td>
             <td ><label id="varalt"/>7</td>
           </tr>
         </tbody>
       </table>
       <div class="title_red">RADIACIÓN ANUAL</div>
       <table class="table-resumen">
         <thead>
          <tr>
            <th>Global Horizontal<span> (kWh/m<sup>2</sup>) </span></th>                
            <th>Global Inclinado 30º<span> (kWh/m<sup>2</sup>) </span></th>
            <th>Directa Normal<span> (kWh/m<sup>2</sup>) </span></th>
            <th>Difusa Horizontal<span> (kWh/m<sup>2</sup>) </span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td ><label id="vargbl"/></td> 
           <td ><label id="vargblin"/></td>
           <td ><label id="vardiNo"/></td>
           <td ><label id="vardiHo"/></td>
         </tr>

       </tbody>
     </table>
    
  </div>

      </div>
      <div id="grafico" class="tab-pane fade">
        <br/>
        <div class="title_red"><label id="titGraf"/></div>
        
        <div id="graf">
          <chartjs-bar :datalabel="mylabel" :labels="mylabels" :data="mydata" :width="500" :height="350" :bind="true" class="bar" ></chartjs-bar>
        </div>

      </div>
      <div id="descargas" class="tab-pane fade">
       <table class="table-resumen">
         <thead>
          <tr>
            <th>Nombre</th>
            <th>Formato</th>
            <th>Descarga</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td >Radiacion Anual</td> 
           <td >pdf</td>
           <td ><a href="file/logo.pdf" target="_blank" ><img src="images/descarga.svg" style="width:70px" alt="descargar"/></a></td>
         </tr>
       </tbody>
     </table>
   </div>

 </div>
</div>

</transition>

<div id="imgSolar"> </div>
<div id="imgTerm"> </div>
</div>


<div class="toolbarleft">
  <div id="calendar" layout="column" layout-xs="row" class="layout-xs-row layout-column">
    <div id="imgDiario"></div>
    <div id="imgMensual"></div>
    <div id="imgAnual">   </div>
  </div>
</div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIprC_h1aW9PQVMhD1LJxQqaPSH2zvw8Q&callback=LoadMap">
</script>

<script src="js/index.js?v1.6"></script> 
<script src="js/data.js?v1.7"></script>  

</body>
</html>


