<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
      PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
  <title>Sisol</title>
  
 <meta charset="utf-8">

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/vue.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css?v1.6">
  <link rel="stylesheet" type="text/css" href="css/media.css?v1.6">
  <link rel="shortcut icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
  <link rel="shortcut icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
    
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/Chart.js"></script>
  <script src="node_modules/hchs-vue-charts/dist/vue-charts.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/vue-tabs.min.js"></script>
  <script src="js/index.js?v1.5"></script> 
  <script src="js/map.js?v1.7"></script> 
  <script src="js/humane.js"></script>
</head>
<body>
<script> var hostMapas=<TMPL_VAR NAME=HOST>;</script>

