<div id="imgTerm" class="iconV"></div>
<transition name="slide-fade">
    <div class="infoTerm ventana">
        <div class="divTitle">
            <div class="title">GENERACIÓN TERMICA </div>
        </div>
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#formTerm">FORMULARIO</a></li>
                <li><a href="#resultTerm">RESULTADOS</a></li>
                <li><a href="#desTern">DESCARGAS</a></li>

            </ul>
        </div>
        <div class="tab-content" >
            <div id="formTerm"  class="tab-pane fade in active"><p style="text-align:center;margin:20px; font-weight: bold;"> EN CONSTRUCCION</p></div>
            <div id="resultTerm"></div>
            <div id="resultTerm"></div>

        </div>
    </div>
</transition>