<div id="imgInfo" class="iconV"></div>
<transition name="slide-fade">
    <div class="infoInfo ventana">
        <div class="divTitle">
            <div class="title">INFORMACIÓN</div>
        </div>
        
        <div class="blockInfo">
            <div id="infoText" style="text-align:justify;">
            <div class="title_red">&#191;QUE ES SISOL?</div>
                SISol es un Sistema de Informaci&oacuten Web de consulta espacial y temporal de datos de radiaci&oacuten solar temperatura que permite realizar evaluaciones t&eacutecnico-econ&oacutemicas de sistemas solares (paneles fotovoltaicos y calefones solares).
<br/>
                <div class="title_red">&#191;POR QUI&#201;N FUE DESARROLLADO?</div>
SISol es producto de un proyecto de colaboraci&oacuten entre la Secretar&iacutea de Energ&iacutea de la provincia de Salta y el grupo de Investigaci&oacuten Planificaci&oacuten Energ&eacutetica y Gesti&oacuten Territorial del Instituto de Investigaciones en Energ&iacutea No Convencional (CONICET &#175; Universidad Nacional de Salta).
<br/>
</div>
       <div class="title_red">&#191;CUALES SON LAS FUNCIONALIDADES?</div>
        <div id="iconRad" onclick=""></div>
        <div id="infoRad" style="text-align:justify;">
            <b>M&#243;dulo de Radiaci&#243;n Solar:</b> permite visualizar la distribuci&#243;n espacial de la irradiaci&#243;n solar en la provincia y consultar valores caracter&#237;sticos diarios, promedios mensuales y anuales  en una ubicaci&#243;n determinada.
        </div>
          <div id="iconTemp" onclick=""></div>
        <div id="infoRad" style="text-align:justify;">
            <b>M&#243;dulo de Temperatura:</b> Permite visualizar la distribuci&#243;n espacial de la temperatura y consultar valores de temperatura media mensual y anual en una ubicaci&#243;n determinada de la provincia.
        </div>
           <div id="iconFoto" onclick=""></div>
        <div id="infoRad" style="text-align:justify;">
            <b>M&#243;dulo de Generaci&#243;n El&#233;ctrica Fotovoltaica:</b> Permite realizar una evaluaci&#243;n t&#233;cnico-econ&#243;mica de una potencial instalaci&#243;n fotovoltaica. 
        </div>
            <div id="iconTerm" onclick=""></div>
        <div id="infoRad" style="text-align:justify;">
            <b>M&#243;dulo de Generaci&#243;n T&#233;rmica:</b> Permite realizar una evaluaci&#243;n t&#233;cnico-econ&#243;mica para una instalaci&#243;n de calefones solares. 
        </div>
            <br/><br/><br/>
        </div>
    </div>
</transition>
