<div class="toolbarCalendar">
    <div id="imgDiario" class="toolCal"></div> 
    <div id="imgMensual" class="toolCal"></div> 
    <div id="imgAnual" class="toolCal"></div>
    <div style="clear: both;"><label id="title_calendar">RADIACION ANUAL</label></div>
    <div class="meses">
        <div id="enero" onclick="changeMap(this)" class="dMes"> ENE</div>
        <div id="febrero" onclick="changeMap(this)" class="dMes"> FEB</div>
        <div id="marzo" onclick="changeMap(this)" class="dMes"> MAR</div>
        <div id="abril" onclick="changeMap(this)" class="dMes"> ABR</div>
        <div style="clear:both;"></div>
        <div id="mayo" onclick="changeMap(this)" class="dMes"> MAY</div>
        <div id="junio" onclick="changeMap(this)" class="dMes"> JUN</div>
        <div id="julio" onclick="changeMap(this)" class="dMes"> JUL</div>
        <div id="agosto" onclick="changeMap(this)" class="dMes"> AGO</div>
        <div style="clear:both;"></div>
        <div id="septiembre" onclick="changeMap(this)" class="dMes"> SEP</div>
        <div id="octubre" onclick="changeMap(this)" class="dMes"> OCT</div>
        <div id="noviembre" onclick="changeMap(this)" class="dMes"> NOV</div>
        <div id="diciembre" onclick="changeMap(this)" class="dMes"> DIC</div>
        <div style="clear:both;"></div>
    </div>
</div>
